@using System.Data;
@model FormTestNew.Models.FormDataModel

@{
    ViewBag.Title = "Submit Form";
}

<h2>@ViewBag.Title</h2>

<div class="form-wrapper pt-5">
    <div class="container">
        <div class="row d-flex flex-column align-items-center">
            <div class="col-md-8 col-sm-12">
                <div class="form fade-in">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                          
                            <div class="row">
                                <div class="col-md-6 mb-4 ">
                                    <label class="control-label" for="inputName">Name</label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Enter name" name="Name" required>
                                    <div class="invalid-feedback">Please provide Name.</div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label for="Date of Birth">Date of Birth</label>
                                    <input type="date" class="form-control" id="Date of Birth" placeholder="Enter Date of Birth" name="DOB" required>
                                    <div class="invalid-feedback">Please provide a Date of Birth.</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <label for="inputEmail">Email Address</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Enter Email Address" name="Email" required>
                                    <div class="invalid-feedback">Please provide an Email.</div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label for="inputpassword">Phone Number</label>
                                    <input type="tel" class="form-control" id="phone" placeholder="Enter Phone number." name="phone" required>
                                    <div class="invalid-feedback">Please provide a Number.</div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-12 mb-4">
                                    <input type="submit" value="Send enquiry" class="btn submit" />
                                </div>
                            </div>
                        </div>


                    }
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
